html{
    height: 100%;
}
body{
    margin: 0px;
}
section{
    display: flex;
    flex-direction: row;
}
.kiri{
    background-color: #FFF0F0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 50%;
}
.kanan{
    background-color: #A3D2CA;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}
.kiri h2{
    margin-top: 25%;
    color: #F05945;
    font-family: 'Patua One';
    margin-left: 25%;
    font-size: xx-large;
}
.kiri p{
    font-family: 'Passero One';
    color: #000000;
    margin-left: 25%;
    font-size: x-large;
}
.kiri img{
    margin-bottom: 25%;
    margin-left: 25%;
    width: 20vw;
    border-radius: 2em;
}
.kanan header{ 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: larger;
} 
.kanan header .header-right{
    display: flex;
    flex-direction: row;
}
.kanan header #logo{
    margin-left: 5%;
    font-family: 'Simonetta';
} 
.kanan header #newHere{
    font-family: 'Simonetta';
} 
.kanan header a{
    margin-right: 2vw;
    margin-left: 1vw;
    text-decoration: none;
}  
.kanan header a p{
    font-family: 'Quantico';
    color: #000000;
    background-color: #FFFFFF;
    border-radius: 2vw;

}
.kanan h6{
    font-family: 'Quantico';
    color: #F7F3E9;
    font-weight: bold;
    text-align: center;
    font-size: x-large;
}
.kanan form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.kanan form .formContent label{
    font-family: 'Sirin Stencil';
    color: #F7F3E9;
    font-size: x-large;
    font-weight: bold;
    margin-bottom: 5px;
}
.kanan form .formContent input[type=email], input[type=password]{
    background-color: #FFFFFF;
    border-radius: 5px;
    width: 21vw;
    height: 1.5vw;
    margin-bottom: 1em;
}
.login input{
    margin-top: 1em;
    background-color: #2FBE79;
    width: 21vw;
    height: 1,5vw;
    border: 1px solid #04FD86;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    font-family: 'Yinmar', sans-serif;
    color: #FFF0F0;
    cursor: pointer;
}

@media screen and (max-width:428px) {
    .kiri{
        display: none;
    }
    .kanan{
        width: 100%;
        height: 523px;
    }
    .kanan header{
        font-size: small;
    }
    .kanan form .formContent label{
        font-size: small;
    }
    .kanan form .formContent input[type=email], input[type=password]{
        width: 40vw;
        height: 4vw;
    }
    .login input{
        width: 40vw;
        height: 6vw;
        font-size: medium;
    }
} 

@media screen and (max-width:576px) {
    .kiri{
        display: none;
    }
    .kanan{
        width: 100%;
    }
    .kanan header{
        font-size: medium;
    }
    .kanan form .formContent label{
        font-size: medium;
    }
    .kanan form .formContent input[type=email], input[type=password]{
        width: 50vw;
        height: 4vw;
    }
    .login input{
        width: 50vw;
    }
}   